<% layout('../model.ejs') -%>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="list-group" style="background-color: #f7f5fa;">
        <a id="submenu-1" href="/pks" class="list-group-item"><span class="glyphicon glyphicon-search">&nbsp;</span>&nbsp;Lookup</a>
        <a id="submenu-2"  href="#" class="list-group-item"><span class="glyphicon glyphicon-plus">&nbsp;</span>&nbsp;Add</a>
      </div>
    </div>
    <div class="col-lg-9">
      <%- body %>
    </div>
  </div>
</div>
