<% layout('../model.ejs') -%>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">Members</div>
        <div class="list-group" style="background-color: #f7f5fa;">
          <a id="submenu-4" href="/community/current" class="list-group-item"><span class="glyphicon glyphicon-user">&nbsp;</span>&nbsp;Members</a>
          <a id="submenu-5"  href="/community/voters" class="list-group-item"><span class="glyphicon glyphicon-user">&nbsp;</span>&nbsp;Voters</a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Public keys</div>
        <div class="list-group" style="background-color: #f7f5fa;">
          <a id="submenu-1" href="/community/pks/lookup" class="list-group-item"><span class="glyphicon glyphicon-search">&nbsp;</span>&nbsp;Lookup</a>
          <a id="submenu-2"  href="/community/pks/add" class="list-group-item"><span class="glyphicon glyphicon-plus">&nbsp;</span>&nbsp;Add</a>
          <a id="submenu-3"  href="/community/pks/udid2" class="list-group-item"><span class="glyphicon glyphicon-barcode">&nbsp;</span>&nbsp;Generate udid2</a>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <%- body %>
    </div>
  </div>
</div>
