<!DOCTYPE html>
<html>
  <head>
    <title>ucoin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <style>
      body{
        overflow-y: scroll;
      }
    </style>
  </head>
  <body>
    
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <a href="#" class="navbar-brand">ucoin</a>
        <ul class="nav navbar-nav">
          <li id="menu-1"><a href="/"><span class="glyphicon glyphicon-home">&nbsp;</span>Home</a></li>
          <li id="menu-2"><a href="/community/current"><span class="glyphicon glyphicon-user">&nbsp;</span>Community</a></li>
          <li id="menu-4"><a href="/contract/current"><span class="glyphicon glyphicon-list-alt">&nbsp;</span>Contract</a></li>
          <li id="menu-5"><a href="/tx/lasts"><span class="glyphicon glyphicon-transfer">&nbsp;</span>Transactions</a></li>
          <li id="menu-3"><a href="/peers"><span class="glyphicon glyphicon-globe">&nbsp;</span>Peers</a></li>
        </ul>
        <% if(auth){ %>
          <h4 class="navbar-text pull-right"><span class="label label-success">signed responses (secure mode)</span></h4>
        <% } else { %>
          <h4 class="navbar-text pull-right"><span class="label label-warning">unsigned responses (fast mode)</span></h4>
        <% } %>
      </div>
    </div>

    <%- body %>

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <!-- <script src="/js/respond.js"></script> -->

    <script src="/js/global.js"></script>
    <script type="text/javascript">
      $('body').ready(function () {
        var urlMenu = {
          '/': 'menu-1',
          '/community': 'menu-2',
          '/peers': 'menu-3',
          '/contract': 'menu-4',
          '/tx': 'menu-5'
        };
        var urlHome = {
          '/': 'submenu-1',
          '/cap': 'submenu-2'
        };
        var urlPKS = {
          '/community/pks/lookup': 'submenu-1',
          '/community/pks/add': 'submenu-2',
          '/community/pks/udid2': 'submenu-3',
          '/community/current': 'submenu-4',
          '/community/voters': 'submenu-5'
        };
        var urlContract = {
          '/contract/current': 'submenu-1',
          '/contract/pending': 'submenu-2',
          '/contract/votes': 'submenu-3'
        };
        var urlTransactions = {
          '/tx/lasts': 'submenu-1'
        };
        var urlPeers = {
          '/peers': 'submenu-11',
          '/peers/keys': 'submenu-12',
          '/peers/tht': 'submenu-13',
          '/peers/upstream/main': 'submenu-21',
          '/peers/upstream/keys': 'submenu-22',
          '/peers/downstream/main': 'submenu-23',
          '/peers/downstream/keys': 'submenu-24'
        };
        var matches = window.location.pathname.match(/^(\/[^\/]*)/g);
        $('#' + (urlMenu[matches[0]] ? urlMenu[matches[0]] : urlMenu['/'])).addClass('active');

        // Home menu
        if(matches[0] == "/" || !urlMenu[matches[0]]){
          $('#' + urlHome[matches[0]]).addClass('active');
        }

        // PKS menu
        if(matches[0] == "/community"){
          var matchesPKS = window.location.pathname.match(/^(\/[^?]*)/g);
          $('#' + urlPKS[matchesPKS[0]]).addClass('active');
        }

        // Contract menu
        if(matches[0] == "/contract"){
          var matchesContract = window.location.pathname.match(/^(\/[^?]*)/g);
          $('#' + urlContract[matchesContract[0]]).addClass('active');
        }

        // Transactions menu
        if(matches[0] == "/tx"){
          var matchesTX = window.location.pathname.match(/^(\/[^?]*)/g);
          $('#' + urlTransactions[matchesTX[0]]).addClass('active');
        }

        // Peers menu
        if(matches[0] == "/peers"){
          var matchesTX = window.location.pathname.match(/^(\/[^?]*)/g);
          $('#' + urlPeers[matchesTX[0]]).addClass('active');
        }
      });
    </script>
    <%- scripts %>
  </body>
</html>