<% layout('../model.ejs') -%>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">Peering</div>
        <div class="list-group" style="background-color: #f7f5fa;">
          <a id="submenu-11" href="/peers" class="list-group-item"><span class="glyphicon glyphicon-globe">&nbsp;</span>&nbsp;Known peers</a>
          <a id="submenu-12" href="/peers/keys" class="list-group-item"><span class="glyphicon glyphicon-eye-open">&nbsp;</span>&nbsp;Managed keys</a>
          <a id="submenu-13" href="/peers/tht" class="list-group-item"><span class="glyphicon glyphicon-cloud">&nbsp;</span>&nbsp;Trust Hash Table</a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">ALL streams</div>
        <div class="list-group" style="background-color: #f7f5fa;">
          <a id="submenu-21" href="/peers/upstream/main"   class="list-group-item"><span class="glyphicon glyphicon-cloud-download">&nbsp;</span>&nbsp;ALL Upstream</a>
          <a id="submenu-23" href="/peers/downstream/main" class="list-group-item"><span class="glyphicon glyphicon-cloud-upload">&nbsp;</span>&nbsp;ALL Downstream</a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">KEY streams</div>
        <div class="list-group" style="background-color: #f7f5fa;">
          <a id="submenu-22" href="/peers/upstream/keys"   class="list-group-item"><span class="glyphicon glyphicon-cloud-download">&nbsp;</span>&nbsp;Upstreams</a>
          <a id="submenu-24" href="/peers/downstream/keys" class="list-group-item"><span class="glyphicon glyphicon-cloud-upload">&nbsp;</span>&nbsp;Downstreams</a>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <%- body %>
    </div>
  </div>
</div>
