<h2>Blockchain time: <span class="label label-info">{{ blockchainTime }}</span></h2>
<h5>Zoom on blocks:</h5>
<form class="form-inline">
	<input type="text" id="textFieldBlock1"  class="form-control" style="width: 0; visibility: hidden"/>
	<input type="text" id="textFieldBlock2"  class="form-control" style="width: 0; visibility: hidden"/>
	<!--<button class="btn btn-default" id="buttonAll">All</button>-->
	<button class="btn btn-default" id="buttonLast0"/>
	<button class="btn btn-default" id="buttonLast1"/>
	<button class="btn btn-default" id="buttonLast2"/>
	<button class="btn btn-default" id="buttonLast3"/>
	<button class="btn btn-default" id="buttonLast4"/>
	<button class="btn btn-default" id="buttonLast5"/>
	<button class="btn btn-default" id="buttonLast6"/>
</form>
<div id="speedGraph"></div>
<div id="timeGraph"></div>
<div id="difficultyGraph"></div>
<div id="issuersGraph"></div>
