<h1>Public keys</h1>
<!-- <table class="table table-condensed table-striped">
  <tr>
    <th style="width: 20%;">Name</th>
    <th style="width: 50%;">Comment</th>
    <th style="width: 10%;">Fingerprint</th>
    <th style="width: 20%;">Email</th>
  </tr>
  <tr ng-repeat="key in keys">
    <td style="font-family: fixed,courier">{{key.name}}</td>
    <td style="font-family: fixed,courier">{{key.comment}}</td>
    <td style="font-family: fixed,courier">0x{{key.keyID}}</td>
    <td style="font-family: fixed,courier">{{key.email}}</td>
  </tr>
</table>
 -->

    <style>

      path.link {
        fill: none;
        stroke: #666;
        stroke-width: 1.5px;
      }

      path.link.twofive {
        opacity: 0.25;
      }

      path.link.fivezero {
        opacity: 0.50;
      }

      path.link.sevenfive {
        opacity: 0.75;
      }

      path.link.onezerozero {
        opacity: 1.0;
      }

      circle {
        fill: #ccc;
        stroke: #fff;
        stroke-width: 1.5px;
      }

      text {
        fill: #000;
        font: 10px sans-serif;
        pointer-events: none;
      }

    </style>
<div id="wot"></div>
