<!-- Home -->
<h1><span class="text-info"><strong>{{ currency }} ({{ currency_acronym }})</strong></span></h1>
<table class="table">
  <tr>
    <th style="width: 30%;"></th>
    <th style="width: 20%;">Var</th>
    <th style="width: 25%;">Quantitative</th>
    <th style="width: 25%;">Relative</th>
  </tr>
  <tr>
    <td>Monetary Mass</td>
    <td>M<sub>t-1</sub></td>
    <td><span class="label label-success"><strong>{{ M }} {{ currency_acronym }}</strong></span></td>
    <td><span class="label label-primary"><strong>~{{ (M/UD).toFixed(2) }} {{ relative_acronym }}</strong></span></td>
  </tr>
  <tr>
    <td>Members</td>
    <td>N<sub>t</sub></td>
    <td><span class="label label-info">{{ N }} members</span></td>
    <td><span class="label label-info">{{ N }} members</span></td>
  </tr>
  <tr>
    <td>Monetary Mass per member</td>
    <td>M<sub>t-1</sub>/N<sub>t</sub></td>
    <td>
       <span class="label label-success"><strong>~{{ (MsurN).toFixed(0) }} {{ currency_acronym }}</strong></span>
    </td>
    <td>
       <span class="label label-primary"><strong>~{{ (MsurN/UD).toFixed(2) }} {{ relative_acronym }}</strong></span>
    </td>
  </tr>
  <tr>
    <td>Universal Dividend</td>
    <td>{{ relative_acronym }}<sub>t</sub></td>
    <td>
       <span class="label label-success"><strong>{{ UD.toFixed(2) }} {{ currency_acronym }}</strong></span>
    </td>
    <td>
       <span class="label label-primary"><strong>{{ UD/UD }} {{ relative_acronym }}</strong></span>
    </td>
  </tr>
  <tr>
    <td>Actual %Growth (UD<sub>t</sub> / (M<sub>t-1</sub>/N<sub>t</sub>))</td>
    <td>c<sub>actual</sub></td>
    <td>
      <span class="label label-default"><strong>{{ ((UD/MsurN)*100).toFixed(2) }}%</strong></span>
    </td>
    <td>
       <span class="label label-default"><strong>{{ ((UD/UD)/(MsurN/UD)*100).toFixed(2) }}%</strong></span>
    </td>
  </tr>
</table>
<div id="graphMMassUDM" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<h1>Rules</h1>
<table class="table">
  <tr>
    <td style="width: 30%;">%Growth (c)</td>
    <td style="width: 70%;"><span class="label label-default">{{ UDPercent }}</span> / <span class="label label-default">{{ UDFreq }}</span></td>
  </tr>
  <tr>
    <td>Universal Dividend (formula)</td>
    <td>UD <sub>t+1</sub> = MAX ( UD <sub>t</sub> ; c * M<sub>t</sub> / N<sub>t+1</sub> )</td>
    <td></td>
  </tr>
  <tr>
    <td>Universal Dividend (computed)</td>
    <td><span class="label label-default">{{ UDplus1.toFixed(2) }} {{ currency_acronym }}</span> = MAX ( <span class="label label-default">{{ UD.toFixed(2) }} {{ currency_acronym }}</span> ; <span class="label label-default">{{ UDPercent }}</span> * <span class="label label-success"><strong>{{ Mplus1 }} {{ currency_acronym }}</strong></span> / <span class="label label-info">{{ N }} members?</span> )</td>
    <td></td>
  </tr>
</table>
