<h1>Host</h1>
<table class="table">
  <tr>
    <th style="width: 30%;">Field</th>
    <th style="width: 70%;">Value</th>
  </tr>
  <tr>
    <td>Key fingerprint</td>
    <td style="font-family: courier">{{ fingerprint ? fingerprint : 'None' }}</td>
  </tr>
  <tr>
    <td>Endpoints</td>
    <td style="font-family: courier">
      <span ng-repeat="ep in endpoints">{{ ep }}<br/></span>
    </td>
  </tr>
  <tr>
    <td>Peers</td>
    <td>
      <!--<a href="#/peering/peers" class="btn btn-default btn-xs">{{ peers ? peers.length : '0' }} connected</a>-->
      <span class="label label-default label-xs">{{ peers ? peers.length : '0' }} connected</span>
    </td>
  </tr>
</table>
<h1>Peers</h1>
<table class="table table-condensed table-striped">
    <tr>
        <th style="width: 20%;">Public key</th>
        <th style="width: 80%;">Endpoints</th>
    </tr>
    <tr ng-repeat="peer in peers">
        <td style="font-family: fixed,courier">{{peer.pubkey}}</td>
        <td class="endpoint" style="font-family: fixed,courier">
            <span ng-repeat="ep in peer.endpoints"><a ng-href="http://{{ep.split(' ')[1]}}:{{ep.split(' ')[2]}}/blockchain/current">{{ep}}</a></span>
        </td>
    </tr>
</table>
