<% layout('../model.ejs') -%>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="list-group" style="background-color: #f7f5fa;">
          <a id="submenu-1" href="/tx/lasts" class="list-group-item"><span class="glyphicon glyphicon-fire">&nbsp;</span>&nbsp;Last received</a>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <%- body %>
    </div>
  </div>
</div>
